@media(max-width:450px) {
    .broadcast-date {
        display: none;
    }
}

.label-limegreen {
    background-color: #75D1A1;
}

#page-wrapper {
    display: none;
}

.form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}
.img-polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.responsive-width {
    max-width: 100%;
}
a.nolinkstyle {
    text-decoration:none;
    font-family: "Lato", sans-serif;
    color: #333;
}
.well {
    -webkit-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    transition: box-shadow .5s;
}
.well:hover {
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

.pointer {
    cursor: pointer;
}

pre.variableLabels {
    display: inline;
    word-break: normal;
    word-wrap: normal;
}