@media(max-width:450px) {
    .broadcast-date {
        display: none;
    }
}

.label-limegreen {
    background-color: #75D1A1;
}

#page-wrapper {
    display: none;
}

.form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}